.jumbotron {
  padding: 1em 1em;
}

#order-alert {
  display: none;
}

#ingredient-alert {
  display: none;
}

#size-alert {
  display: none;
}

.order {
  display: none;
}

.disabled, .disabled * {
  pointer-events: none;
  opacity: 0.7;
}
